export/*
.vscode/*
.haxelib/
.github/
*.code-workspace
.history
.ionide

!.vscode/settings/json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

art/build_html.bat
art/build_html-debug.bat
/.vscode
/export
checklist.txt
sounds.txt
*.pdn
*.sai2
assets/images/dice/five.png
assets/images/dice/four.png
assets/images/dice/one.png
assets/images/dice/six.png
assets/images/dice/three.png
assets/images/dice/two.png
assets/images/GUI/eight.png
assets/images/GUI/five.png
assets/images/GUI/four.png
assets/images/GUI/nine.png
assets/images/GUI/one.png
assets/images/GUI/seven.png
assets/images/GUI/six.png
assets/images/GUI/three.png
assets/images/GUI/two.png
assets/images/GUI/zero.png
checklist demo.txt
