export/*
.vscode/*
.haxelib/
.github/
*.code-workspace
.history
.ionide

!.vscode/settings/json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

art/build_html.bat
art/build_html-debug.bat
/.vscode
/export
checklist.txt
sounds.txt
*.pdn
